services:
  postgresql:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_USER: authentik
      POSTGRES_DB: authentik
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    networks:
      - internal

  server:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2026.2.1}
    restart: unless-stopped
    command: server
    user: "${AUTHENTIK_UID:-999}:${AUTHENTIK_GID:-999}"
    shm_size: 512mb
    env_file:
      - .env
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    depends_on:
      postgresql:
        condition: service_healthy
    dns:
      - {{ secrets.proxy_dns_ip }}
    volumes:
      - ./blueprints/apps:/blueprints/custom:ro
      - ./data/media:/data
      - ./data/custom-templates:/templates
    networks:
      proxy:
        aliases:
          - authentik-server
      internal: {}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.authentik.rule=Host(`authentik.{{ secrets.domain }}`)"
      - "traefik.http.routers.authentik.entrypoints=websecure"
      - "traefik.http.routers.authentik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.authentik.service=authentik"
      - "traefik.http.services.authentik.loadbalancer.server.port=9000"
      - "traefik.http.routers.authentik-traefik-outpost.rule=Host(`traefik.{{ secrets.domain }}`) && PathPrefix(`/outpost.goauthentik.io/`)"
      - "traefik.http.routers.authentik-traefik-outpost.entrypoints=websecure"
      - "traefik.http.routers.authentik-traefik-outpost.priority=100"
      - "traefik.http.routers.authentik-traefik-outpost.tls.certresolver=letsencrypt"
      - "traefik.http.routers.authentik-traefik-outpost.service=authentik-traefik-outpost"
      - "traefik.http.services.authentik-traefik-outpost.loadbalancer.server.port=9000"

  worker:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2026.2.1}
    restart: unless-stopped
    command: worker
    user: "${AUTHENTIK_UID:-999}:${AUTHENTIK_GID:-999}"
    shm_size: 512mb
    env_file:
      - .env
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ./blueprints/apps:/blueprints/custom:ro
      - ./data/media:/data
      - ./data/certs:/certs
      - ./data/custom-templates:/templates
    networks:
      - internal

networks:
  proxy:
    external: true
    name: proxy
  internal: {}
