services:
  traefik:
    image: traefik:v3.6.1
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOCKER_API_VERSION=1.45
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - letsencrypt:/letsencrypt
    networks:
      proxy:
        ipv4_address: {{ secrets.proxy_traefik_ip }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.{{ secrets.domain }}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.priority=10"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=dashboard-authentik"
      - "traefik.http.middlewares.dashboard-authentik.forwardauth.address=http://authentik-server:9000/outpost.goauthentik.io/auth/traefik"
      - "traefik.http.middlewares.dashboard-authentik.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.dashboard-authentik.forwardauth.authResponseHeaders=X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid,X-authentik-jwt,X-authentik-meta-jwks,X-authentik-meta-outpost,X-authentik-meta-provider,X-authentik-meta-app,X-authentik-meta-version"

  coredns:
    image: coredns/coredns:latest
    restart: unless-stopped
    command: -conf /Corefile
    volumes:
      - ./Corefile:/Corefile:ro
    networks:
      proxy:
        ipv4_address: {{ secrets.proxy_dns_ip }}

networks:
  proxy:
    external: true
    name: proxy

volumes:
  letsencrypt:
