version: 1
metadata:
  name: vps-brands
  labels:
    blueprints.goauthentik.io/instantiate: "true"
entries:
  - model: authentik_brands.brand
    state: present
    identifiers:
      domain: authentik.{{ secrets.domain }}
    attrs:
      branding_title: Authentik
      attributes:
        settings:
          layout:
            type: 3-column
          enabledFeatures:
            applicationEdit: false

  - model: authentik_brands.brand
    state: present
    identifiers:
      domain: traefik.{{ secrets.domain }}
    attrs:
      branding_title: Traefik Dashboard
      branding_logo: /media/custom/traefik-logo.png
      branding_favicon: /media/custom/traefik-logo.png

  - model: authentik_brands.brand
    state: present
    identifiers:
      domain: {{ foundry_public_hostname }}
    attrs:
      branding_title: Foundry VTT
      branding_logo: /media/custom/foundry-logo.png
      branding_favicon: /media/custom/foundry-logo.png
